*{
	box-sizing: border-box;
}

h1 {
	font-family: fantasy;
	font-size: 30px;
	text-align: center;
	color: #483D8B;
	font-weight: bold;
}

body {
	background-color: #F5FFFA;
}
p {
	font-family: serif;
	font-size: 15px;
	position: relative;
	padding: 15px 8px 5px 8px;

}

.sections {
	border: 1px solid black;
	position: relative;
	margin: 15px;
	text-align: justify;
	padding: 3px;
	height: 200px;
	background-color: #AFEEEE;
}

span {
	border: 1px solid black;
	text-align: center;
	padding: 2px 6px 2px 6px;
	font-weight: bold;
	float: right; top: 0; right: 0; margin: 0; position: absolute;
} 

#c_title {
	background-color: #DA70D6;
}

#b_title {
	background-color: #DDA0DD;
}

#s_title {
	background-color: #FFC0CB;
}

.row {
	width: 100%;
}

@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    	float: left;
  	}
  	.col-lg-1 {
    	width: 8.33%;
  	}
  	.col-lg-2 {
    	width: 16.66%;
  	}
  	.col-lg-3 {
    	width: 25%;
  	}
  	.col-lg-4 {
    	width: 33.33%;
  	}
  	.col-lg-5 {
    	width: 41.66%;
  	}
  	.col-lg-6 {
    	width: 50%;
  	}
  	.col-lg-7 {
    	width: 58.33%;
  	}
  	.col-lg-8 {
    	width: 66.66%;
  	}
  	.col-lg-9 {
    	width: 74.99%;
  	}
  	.col-lg-10 {
    	width: 83.33%;
  	}
  	.col-lg-11 {
    	width: 91.66%;
  	}
  	.col-lg-12 {
    	width: 100%;
  	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 50%;
		float: left;
	}
	.col-md-12 {
		width: 100%;
		float: left;
	}
}

@media (max-width: 767px) {
	.col-sx-12 {
		width: 100%;
		float: left;
	}
}